
#gradient{
    background: rgb(30,66,148);
    background: linear-gradient(180deg, rgba(30,66,148, 1) 0%, rgba(45,180,253, 0.5) 100%);
    height: 100vh;
} 
@media (max-width: 540px){
    #gradient{
        height: 0;
        padding: 0; 
    }
}
h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#title{
    font-size: 50px;
    color: rgb(30,66,148);
}
#buttons{
    margin-top: 5vh;
}

/*Animations*/

#gradient{
    -webkit-animation: background-drop 3s ease-in-out both;
	        animation: background-drop 3s ease-in-out both;
}
@media(max-width: 313px){
    #gradient{
        animation: none;
        height: auto;
    }
}
@media(max-height: 800px){
    #gradient{
        animation: none;
        height: auto;
    }
}
.slide-bottom {
    -webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#pre-title{
    -webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
            animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
#title{
    -webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
            animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both
}
.btn{
    -webkit-animation: slide-bottom 0.5s linear 3s both;
            animation: slide-bottom 0.5s linear 3s both;
}
@media(max-width: 540px){
    .btn{
        -webkit-animation: slide-bottom 0.5s linear 3s both;
                animation: slide-bottom 0.5s linear 3s both;
    }
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
              opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
              opacity: 1;
    }
}

@media(max-width: 540px){
    @-webkit-keyframes background-drop {
        100% {
            height: 100vh;
        }
      }
      @keyframes background-drop {
        100% {
            height: 100vh;
        }
    }
    
}

    


